<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GflChibiDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.6.0" newVersion="2.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <userSettings>
    <GflChibiDesktop.Properties.Settings>
      <setting name="DummyPos" serializeAs="String">
        <value>224, 224</value>
      </setting>
      <setting name="LastSelectDir" serializeAs="String">
        <value />
      </setting>
      <setting name="DummyName" serializeAs="String">
        <value>hk416agent_546</value>
      </setting>
      <setting name="DummyAnime" serializeAs="String">
        <value>wait</value>
      </setting>
      <setting name="DummyDisplayName" serializeAs="String">
        <value>特工416 曼岛之盾</value>
      </setting>
      <setting name="Topmost" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DummyOpacity" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Pos" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="CanvasSize" serializeAs="String">
        <value>448, 448</value>
      </setting>
      <setting name="DummyScale" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DummyDormMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DummySimulation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DownloadSource" serializeAs="String">
        <value>https://gfl.brightsu.cn/data/resource/</value>
      </setting>
      <setting name="DummyPath" serializeAs="String">
        <value>hk416agent_546</value>
      </setting>
      <setting name="DummyFilename" serializeAs="String">
        <value>hk416agent_546</value>
      </setting>
      <setting name="DummyFilenameR" serializeAs="String">
        <value>rhk416agent_546</value>
      </setting>
    </GflChibiDesktop.Properties.Settings>
  </userSettings>
</configuration>
